[Unit]
Description=Hifi
After=network.target domain-server.service

[Service]
ExecStart=/opt/hifi/live/assignment-client/assignment-client -n 6
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hifi-assignment-client
User=hifi
Group=hifi
Environment=PATH=/usr/bin/:/usr/local/bin/
WorkingDirectory=/opt/hifi/live

[Install]
WantedBy=multi-user.target