[Unit]
Description=Hifi
After=network.target

[Service]
ExecStart=/opt/hifi/live/build/domain-server/domain-server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hifi-domain-server
User=hifi
Group=hifi
Environment=PATH=/usr/bin/:/usr/local/bin/
WorkingDirectory=/opt/hifi/live/build

[Install]
WantedBy=multi-user.target