[Unit]
Description=Hifi
After=network.target

[Service]
ExecStart=/opt/hifi/live/assignment-client
ExecStart=/opt/hifi/live/domain-server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hifi
User=hifi
Group=hifi
Environment=PATH=/usr/bin/:/usr/local/bin/
WorkingDirectory=/opt/hifi/live

[Install]
WantedBy=multi-user.target